* {
    box-sizing: border-box;
}

:root {
    --header-bg: #d4f2ff;
    --red: #e74c3c;
    --orange: #f39c12;
    --light-color: #888;
    --light-bg: #eee;
    --black: #2c3e50;
    --white: #fff;
    --border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    /* padding-left: 30rem; */
}

/* Common */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.container-profile {
    width: 1100px;
    max-width: calc(100% - 48px);
    margin-left: 320px;
}

.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: var(--height);
    line-height: var(--height);
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #07b3fb;
    border-radius: 99px;
    text-align: center;
    color: #fff;
    background: #07b3fb;
    transition: all 0.7s;
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
}

.btn:hover {
    background-color: rgba(7, 179, 251, 0.6);
    cursor: pointer;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

/* Header */

.fixed-header {
    background: var(--header-bg);
    padding-top: 6px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1300;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.fixed-header.sticky {
    top: -10px;
    transition: top 0.3s;
}

.header {
    padding: 30px 0;
    min-height: 100vh;
    background: var(--header-bg);
    flex-direction: column;
}

/* Header top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.navbar__list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.box {
    height: 44px;
    display: flex;
    cursor: pointer;
    padding: 0 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box:hover input {
    width: 300px;
}

.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    padding: 0px;
}

.box a .fas {
    color: #181616;
    font-size: 1.8rem;
}

.action {
    margin-top: -11.5px;
}

.action__search {
    --height: 40px;
    min-width: 104px;
    line-height: 30px;
    background: #07b3fb;
    border: 1px solid #d4f2ff;
    color: #fff;
}

.action__login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #181616;
}

.navbar__link:hover {
    color: #181616;
    text-shadow: 1px 0 0 currentColor;
}

/* .navbar__link--active::before {
    position: relative;
    content: "";
    display: inline-block;
    top: -2px;
    left: -8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
} */

.action__signup {
    --height: 44px;
    min-width: 104px;
    background: #f0c6e7;
    line-height: 30px;
    color: #181616;
    border: 1px solid #b94990;
    text-shadow: 1px 0 0 currentColor;
}

.action__signup p {
    margin-top: 5.5px;
}

.icons div {
    font-size: 2rem;
    color: var(--black);
    background-color: var(--white);
    border-radius: 0.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    cursor: pointer;
    text-align: center;
    margin-left: 0.7rem;
}

.icons div:hover {
    background-color: var(--black);
    color: var(--white);
}

/* Profile */

.profile {
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: 0.2s linear;
    width: 30rem;
    border: var(--border);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.profile.active {
    transform: scale(1);
}

.profile .image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.profile .name {
    font-size: 2rem;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile .role {
    font-size: 1.8rem;
    color: var(--light-color);
}

/* Sidebar */
.side-bar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 30rem;
    background-color: var(--white);
    height: 100vh;
    border-right: var(--border);
    z-index: 1200;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.side-bar .avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 2rem;
}

.side-bar .avatar .image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.side-bar .avatar .name {
    font-size: 2rem;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side-bar .avatar .role {
    font-size: 1.8rem;
    color: var(--light-color);
}

.side-bar .profile .role {
    font-size: 1.8rem;
    color: var(--light-color);
}

.side-bar .navbar a {
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

.side-bar .navbar a i {
    margin-right: 1.5rem;
    color: var(--main-color);
    transition: 0.2s linear;
}

.side-bar .navbar a span {
    color: var(--light-color);
}

.side-bar .navbar a:hover {
    background-color: var(--light-bg);
}

.side-bar .navbar a:hover i {
    margin-right: 2.5rem;
}

.side-bar.active {
    left: -30rem;
}

/* About */

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    width: 100%;
    height: 50rem;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content p {
    font-size: 1.7rem;
    line-height: 2;
    color: var(--light-color);
    padding: 1rem 0;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
}

/* Reviewers */
.reviews {
    padding: 70px 0;
    margin-bottom: 10px;
}

.reviews .box-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
    gap: 1.5rem;
    /* justify-content: center; */
    align-items: flex-start;
}

.reviews .box-container .box-comment {
    border-radius: 0.5rem;
    background-color: var(--white);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.reviews .box-container .box-comment p {
    line-height: 1.7;
    font-size: 1.7rem;
    color: var(--light-color);
}

.reviews .box-container .box-comment .student {
    /* margin-top: 1rem; */
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.reviews .box-container .box-comment .student img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.reviews .box-container .box-comment .student h3 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 0.3rem;
}

.reviews .box-container .box-comment .student .stars {
    font-size: 1.5rem;
    color: var(--orange);
}

/* Packages */
.services,
.packages {
    margin: 100px 0;
}

.services .heading,
.packages .heading {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 2.5rem;
    border-bottom: var(--border);
    padding-bottom: 1.5rem;
    text-transform: capitalize;
}

.services .box-container,
.packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.services .box-container .box-package,
.packages .box-container .box-package {
    border-radius: 0.5rem;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.services .box-container .box-package .tutor,
.packages .box-container .box-package .tutor {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.services .box-container .box-package .tutor img,
.packages .box-container .box-package .tutor img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.packages .box-container .box-package .tutor h3,
.packages .box-container .box-package .tutor h3 {
    font-size: 1.8rem;
    color: var(--black);
    margin-bottom: 0.2rem;
}
.services .box-container .box-package .tutor span,
.packages .box-container .box-package .tutor span {
    font-size: 1.3rem;
    color: var(--light-color);
}

.services .box-container .box-package .thumb,
.packages .box-container .box-package .thumb {
    position: relative;
}

.services .box-container .box-package .thumb span,
.packages .box-container .box-package .thumb span {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 1.5rem;
}

.services .box-container .box-package .thumb img,
.packages .box-container .box-package .thumb img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.services .box-container .box-package .title,
.packages .box-container .box-package .title {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

.services .more-btn .packages .more-btn {
    text-align: center;
    margin-top: 2rem;
}

/* User-profile */
.user-profile {
    margin-top: 100px;
}

.user-profile .heading {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 2.5rem;
    border-bottom: var(--border);
    padding-bottom: 1.5rem;
    text-transform: capitalize;
}

.user-profile .info {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.user-profile .info {
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 2rem;
}

.user-profile .info .user {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem;
}

.user-profile .info .user img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.user-profile .info .user h3 {
    font-size: 2rem;
    color: var(--black);
}

.user-profile .info .user p {
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 0.3rem 0;
}

.user-profile .info .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.user-profile .info .box-container .box-profile {
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    padding: 2rem;
    flex: 1 1 25rem;
}

.user-profile .info .box-container .box-profile .flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.user-profile .info .box-container .box-profile .flex i {
    font-size: 2rem;
    color: var(--white);
    background-color: var(--black);
    text-align: center;
    border-radius: 0.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 4.9rem;
}

.user-profile .info .box-container .box-profile .flex span {
    font-size: 2.5rem;
    color: var(--main-color);
}

.user-profile .info .box-container .box-profile .flex p {
    color: var(--light-color);
    font-size: 1.7rem;
}

/* Hero */
.hero {
    display: flex;
    margin-top: 76px;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #181616;
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}
.hero__desc {
    margin-top: 22px;
    color: #333131;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    color: #181616;
    margin-left: 38px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-right: auto;
    margin-left: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-list {
    margin-bottom: 55px;
}

/* Service item */

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: #07b3fb;
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #10375c;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #eff6fd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    transition: 0.25;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* Footer */
.footer {
    margin-top: 55px;
    padding: 50px 190px 18px;
    background-color: #10375c;
}

.footer .row {
    display: flex;
}

.footer .item {
    color: #c2c2c2;
}

.footer .heading {
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc {
    margin-top: 40px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #c2c2c2;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75; /* 175% */
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: #c2c2c2;
}

.footer .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background: #ebebeb;
}

.footer .row-bottom {
    margin-top: 85px;
}

.footer .row-bottom .copyright {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.column {
    width: calc(100% / 3);
}

/* Work */
.work {
    padding: 100px 0;
    background-color: #f6fbff;
}

.work-desc {
    width: 468px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.work__item {
    padding: 44px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work__item:hover {
    transform: translateY(-16px);
    border-color: #07b3fb;
}

.work-item__heading {
    color: #10375c;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.features__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__cta {
    margin-top: 38px;
}

/* Member */
.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.member__item:hover .member-item__thumb {
    transform: scale(1.1);
}

/* .member-item__img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
} */

.member-item__thumb {
    margin-left: 20px;
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__name {
    margin-top: 12px;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75; /* 175% */
}

.member-item__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.86; /* 185.714% */
}

.member__control {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    margin-top: 38px;
}

.member__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #575f66;
    width: 36px;
    height: 36px;
    outline: none;
    color: #575f66;
    background: #fff;
    transition: 0.25s;
}

.member__control-btn:hover {
    color: #fff;
    border-color: #07b3fb;
    background-color: #07b3fb;
    cursor: pointer;
}

.member__control-next-icon {
    rotate: 180deg;
}
