.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 100px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ 
  margin: 10px auto;
  border-radius: 20px;
  height: 35vh;
  object-fit: cover;
  width: 90%;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: -10px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color:red;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup input{
  border: none;
  border-bottom: 2px solid rgb(255, 189, 189);
}
.popup textarea{
  border: none;
  border-bottom: 2px solid rgb(255, 189, 189);
}

.popup input:hover{
  border-bottom: 2px solid red;
}
.popup textarea:hover{
  border-bottom: 2px solid red;
}

.popup input:active{
  border-bottom: 2px solid red;
}
.popup textarea:active{
  border-bottom: 2px solid red;
}

/* khuc treen nay de popup  */

a{
    text-decoration: none;
  }
  
  .servicee {
    display: flex;
    /* background-color: white; */
    background-color: rgb(237, 235, 235);
    margin-bottom: 1em;
    border-radius: 30px;
    border: 2px solid #D4F2FF;
    /* justify-content: space-around; */
  }
  
  .servicee:hover{
    transform: translateY(-10px);
    border-color: #07b3fb;
  }
  .servicee img{
    width: 350px;
    height: 200px;
    margin: 30px;
    object-fit: cover;
    
  }
  
  .content{
    /* width: 40vw; */
    margin: 2em ;
  }

  .list{
    margin: 0 3%;
    /* margin-top:  85px; */
    padding: 3%;
    /* background-color: #D4F2FF; */
    /* border: 2px solid #D4F2FF; */
  }
  
  .list button{
    height: 2em;
    margin: 0.5em;
    margin-top: 2em;
    border-radius: 20px;
    border: 0;
    width: 5em;
    z-index: 100000000000;

  }

  .servicee button:nth-child(1){
    background-color: #F0C6E7;
    color: black;
    z-index: 100000000000;

  }
  .servicee button:nth-child(2){
    background-color: #C2F4B1;
    /* color: white; */
  }
  .servicee button:nth-child(3){
    background-color: #f4b1eb;
    color: white;
  }

  
  /* Box{
    background-color: #D4F2FF;
  } */
  
  .price{
    color: red;
    font-weight: bold;
  }
  
  .Detail{
    margin: 85px 0;
    padding: 3%;
    /* background-color: rgba(91, 134, 229, 0.51); */
    /* background-color:  rgb(237, 235, 235); */
    display: flex;
    border-radius: 20px;
  }
  
  .Detail img{
    width: 550px;
    /* height: 600px; */
    height: 400px;
    object-fit: cover;
    /* contain; */
    margin: 1em 1.5em;
    background-color: azure;
    border-radius: 20px;
  }

  .Detail button{
    height: 2em;
    margin: 0.5em;
    margin-top: 2em;
    border-radius: 20px;
    border: 0;
    width: 5em;
  }
  .Detail button:nth-child(1){
    background-color: #F0C6E7;
    color: black;
  }
  .Detail button:nth-child(2){
    background-color: #C2F4B1;
    /* color: white; */
  }
  .Detail button:nth-child(3){
    background-color: #ff7070;
    color: white;
  }

  /* .Detail  */
  button:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    /* border: 2px solid rgb(148, 148, 148); */
  }

  .buttUpdate{
  background-color: #C2F4B1;
  height: 2em;
  margin: 0.5em;
  /* margin-top: 12em; */
  border-radius: 20px;
  border: 0;
  width: 5em;
  }
  .Close{
  background-color: #ff7070;
  height: 2em;
  margin: 0.5em;
  /* margin-top: 12em; */
  border-radius: 20px;
  border: 0;
  width: 5em;
  }
  
  label{
    font-weight: bold;
    width: 140px;
  }

  textarea{
    width: 23vw;
  }

  .Display{
  background-color: #ADC9FF;
  height: 2em;
  margin: 0.5em;
  /* margin-top: 12em; */
  border-radius: 20px;
  border: 0;
  width: 10em;
  }

  .choose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px ;
    margin-bottom: 0;
  }

  .dash button{
  background-color: #C2F4B1;
  height: 2em;
  /* margin-bottom: 1em; */
  /* margin-top: 12em; */
  border-radius: 20px;
  border: 0;
  width: 8em;
  }

  .dash {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 20px;  */
}